- 사본 생성 후 수정 부탁드립니다.
- 과제1과 과제2 모두 수행 후, 결과를 포함한 ipynb 파일을 제출해 주세요. (파일명은 이름_pandas_numpy_과제.ipynb로 부탁드립니다.)
- 출력하는 데 너무 오래 걸린다면 상위 30개만 출력해 주세요.

## 과제1
- 데이터: wine.csv (와인 성분 변수들을 이용하여 품질을 예측하는 데이터)

In [ ]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import warnings
warnings.filterwarnings(action='ignore')

#### 데이터 불러오기 및 앞부분 확인

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
data = pd.read_csv('/content/gdrive/MyDrive/ybigta/Numpy&Pandas/wine.csv') # wine.csv: '내 드라이브'에 사본 저장 후, 경로 수정
data.head()

,index,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type
0,0,5,5.6,0.695,0.06,6.8,0.042,9.0,84.0,0.99432,3.44,0.44,10.2,white
1,1,5,8.8,0.610,0.14,2.4,0.067,10.0,42.0,0.99690,3.19,0.59,9.5,red
2,2,5,7.9,0.210,0.39,2.0,0.057,21.0,138.0,0.99176,3.05,0.52,10.9,white
3,3,6,7.0,0.210,0.31,6.0,0.046,29.0,108.0,0.99390,3.26,0.50,10.8,white
4,4,6,7.8,0.400,0.26,9.5,0.059,32.0,178.0,0.99550,3.04,0.43,10.9,white

In [ ]:
# 인덱스 컬럼 드랍하기
data.drop('index', axis=1, inplace=True)
data.head()

,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type
0,5,5.6,0.695,0.06,6.8,0.042,9.0,84.0,0.99432,3.44,0.44,10.2,white
1,5,8.8,0.610,0.14,2.4,0.067,10.0,42.0,0.99690,3.19,0.59,9.5,red
2,5,7.9,0.210,0.39,2.0,0.057,21.0,138.0,0.99176,3.05,0.52,10.9,white
3,6,7.0,0.210,0.31,6.0,0.046,29.0,108.0,0.99390,3.26,0.50,10.8,white
4,6,7.8,0.400,0.26,9.5,0.059,32.0,178.0,0.99550,3.04,0.43,10.9,white

#### 데이터 shape 확인

In [ ]:
data.shape

(5497, 13)

#### 컬럼명 확인

In [ ]:
data.columns

Index(['quality', 'fixed acidity', 'volatile acidity', 'citric acid',
       'residual sugar', 'chlorides', 'free sulfur dioxide',
       'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol',
       'type'],
      dtype='object')

#### NaN, 데이터 타입, 개수 확인

In [ ]:
data.isnull().sum()

nflId                 0
height                0
weight                0
birthDate           232
collegeName         224
officialPosition      0
displayName           0
age                   0
heightCm              0
dtype: int64

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5497 entries, 0 to 5496
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   quality               5497 non-null   int64
 1   fixed acidity         5497 non-null   float64
 2   volatile acidity      5497 non-null   float64
 3   citric acid           5497 non-null   float64
 4   residual sugar        5497 non-null   float64
 5   chlorides             5497 non-null   float64
 6   free sulfur dioxide   5497 non-null   float64
 7   total sulfur dioxide  5497 non-null   float64
 8   density               5497 non-null   float64
 9   pH                    5497 non-null   float64
 10  sulphates             5497 non-null   float64
 11  alcohol               5497 non-null   float64
 12  type                  5497 non-null   object
dtypes: float64(11), int64(1), object(1)
memory usage: 558.4+ KB

In [ ]:
data.isnull().sum()

quality                 0
fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
type                    0
dtype: int64

#### 통계값 확인

In [ ]:
data.describe()

,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
count,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000,5497.000000
mean,5.818992,7.210115,0.338163,0.318543,5.438075,0.055808,30.417682,115.566491,0.994673,3.219502,0.530524,10.504918
std,0.870311,1.287579,0.163224,0.145104,4.756676,0.034653,17.673881,56.288223,0.003014,0.160713,0.149396,1.194524
min,3.000000,3.800000,0.080000,0.000000,0.600000,0.009000,1.000000,6.000000,0.987110,2.740000,0.220000,8.000000
25%,5.000000,6.400000,0.230000,0.250000,1.800000,0.038000,17.000000,78.000000,0.992300,3.110000,0.430000,9.500000
50%,6.000000,7.000000,0.290000,0.310000,3.000000,0.047000,29.000000,118.000000,0.994800,3.210000,0.510000,10.300000
75%,6.000000,7.700000,0.400000,0.390000,8.100000,0.064000,41.000000,155.000000,0.996930,3.320000,0.600000,11.300000
max,9.000000,15.900000,1.580000,1.660000,65.800000,0.610000,289.000000,440.000000,1.038980,4.010000,2.000000,14.900000

#### quality의 unique 확인

In [ ]:
data['quality'].unique()

array([5, 6, 7, 8, 4, 3, 9])

#### quality별로 개수 확인

In [ ]:
data.groupby('quality').size()

quality
3      26
4     186
5    1788
6    2416
7     924
8     152
9       5
dtype: int64

#### 다음 컬럼만 따로 데이터프레임으로 추출해라 : 'quality', 'residual sugar', 'pH', 'alcohol', 'type'

In [ ]:
data_sample = data[['quality', 'residual sugar', 'pH', 'alcohol', 'type']]
data_sample[:30]

    quality  residual sugar    pH  alcohol   type
0         5            6.80  3.44    10.20  white
1         5            2.40  3.19     9.50    red
2         5            2.00  3.05    10.90  white
3         6            6.00  3.26    10.80  white
4         6            9.50  3.04    10.90  white
5         6            9.70  3.08    12.00  white
6         5            1.50  3.30     9.60  white
7         6           11.80  3.04    10.00  white
8         5           18.30  3.30     8.70  white
9         5           11.60  3.07     9.30  white
10        6            0.90  2.89    12.70    red
11        7            1.10  3.32    10.90  white
12        7            6.85  3.03    11.90  white
13        5            1.00  3.13     9.60  white
14        5            2.60  3.10    10.50    red
15        5            7.00  3.21    10.00  white
16        5            2.10  3.04     9.30    red
17        7            4.80  3.17    12.20  white
18        6            7.50  3.06     9.70  white
19        6           10.50  3.36    10.55  white
20        5            1.70  3.10     9.80  white
21        5            2.00  3.26     9.90    red
22        6            1.20  3.11    11.20  white
23        6            2.10  3.41    11.80    red
24        5            2.50  3.34    10.50    red
25        8            3.90  3.24    12.60  white
26        5            2.20  3.30    10.20  white
27        5           15.00  3.15     9.00  white
28        6            1.60  3.27    10.80  white
29        4            1.60  3.15    10.40  white

#### groupby를 통해 quality로 묶고 통계값(min,mean,max) 확인

In [ ]:
#min
data.groupby('quality').agg('min')

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type
quality,,,,,,,,,,,,
3,4.2,0.17,0.00,1.15,0.022,3.0,9.0,0.99110,2.87,0.28,8.0,red
4,4.6,0.11,0.00,0.70,0.013,3.0,7.0,0.98920,2.74,0.25,8.6,red
5,4.5,0.10,0.00,0.60,0.009,2.0,6.0,0.98722,2.79,0.27,8.0,red
6,3.8,0.08,0.00,0.70,0.015,1.0,6.0,0.98758,2.74,0.25,8.4,red
7,4.4,0.08,0.00,0.90,0.012,3.0,7.0,0.98711,2.84,0.22,8.6,red
8,3.9,0.12,0.03,0.80,0.014,3.0,12.0,0.98713,2.94,0.25,8.8,red
9,6.6,0.24,0.29,1.60,0.018,24.0,85.0,0.98965,3.20,0.36,10.4,white

In [ ]:
#mean
data.groupby('quality').agg('mean')

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
quality,,,,,,,,,,,
3,7.811538,0.538077,0.266923,5.203846,0.076500,40.096154,121.461538,0.995713,3.250385,0.500000,10.251923
4,7.269892,0.447285,0.280323,4.145430,0.059247,20.553763,104.811828,0.994730,3.228602,0.500484,10.180376
5,7.329195,0.387855,0.308043,5.792422,0.064417,30.174217,120.370805,0.995843,3.213384,0.525017,9.846875
6,7.166743,0.312301,0.323411,5.535141,0.053932,30.969578,115.357616,0.994527,3.219611,0.532686,10.606015
7,7.123972,0.289724,0.332987,4.748918,0.045352,30.457251,108.178571,0.993122,3.228333,0.546786,11.383864
8,6.839474,0.292730,0.330263,5.581579,0.041105,34.585526,119.421053,0.992544,3.216711,0.506184,11.680921
9,7.420000,0.298000,0.386000,4.120000,0.027400,33.400000,116.000000,0.991460,3.308000,0.466000,12.180000

In [ ]:
#max
data.groupby('quality').agg('max')

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type
quality,,,,,,,,,,,,
3,11.8,1.580,0.66,16.20,0.267,289.0,440.0,1.00080,3.63,0.74,12.6,white
4,12.5,1.130,1.00,15.40,0.610,138.5,272.0,1.00040,3.90,2.00,13.5,white
5,15.9,1.330,1.00,23.50,0.464,131.0,344.0,1.00315,3.79,1.98,14.9,white
6,14.3,1.040,1.66,65.80,0.415,112.0,294.0,1.03898,4.01,1.95,14.0,white
7,15.6,0.915,0.76,19.25,0.358,108.0,229.0,1.00320,3.82,1.36,14.2,white
8,10.7,0.850,0.74,14.80,0.121,105.0,212.5,1.00060,3.57,1.10,14.0,white
9,9.1,0.360,0.49,10.60,0.035,57.0,139.0,0.99700,3.41,0.61,12.9,white

#### 알코올 함량을 기준으로 오름차순 정리  / 상위 30개만 출력

In [ ]:
data.sort_values('alcohol').head(30)

,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type
4254,3,4.2,0.215,0.23,5.10,0.041,64.0,157.0,0.99688,3.42,0.44,8.0,white
5077,5,4.5,0.190,0.21,0.95,0.033,89.0,159.0,0.99332,3.34,0.42,8.0,white
1768,3,10.4,0.610,0.49,2.10,0.200,5.0,16.0,0.99940,3.16,0.63,8.4,red
4176,5,6.2,0.310,0.23,3.30,0.052,34.0,113.0,0.99429,3.16,0.48,8.4,white
479,6,14.3,0.310,0.74,1.80,0.075,6.0,15.0,1.00080,2.86,0.79,8.4,red
3725,5,7.6,0.280,0.49,20.15,0.060,30.0,145.0,1.00196,3.01,0.44,8.5,white
3772,6,6.4,0.180,0.48,18.00,0.054,56.0,183.0,1.00038,2.98,0.61,8.5,white
172,6,6.5,0.180,0.48,18.00,0.054,56.0,183.0,1.00038,2.98,0.61,8.5,white
255,5,10.0,0.380,0.38,1.60,0.169,27.0,90.0,0.99914,3.15,0.65,8.5,red
3062,5,6.1,0.430,0.35,9.10,0.059,83.0,249.0,0.99710,3.37,0.50,8.5,white
2377,5,6.5,0.360,0.16,1.30,0.054,11.0,107.0,0.99398,3.19,0.39,8.5,white
1427,6,6.3,0.200,0.30,5.90,0.034,35.0,152.0,0.99642,3.47,0.40,8.5,white
4249,4,7.2,0.400,0.62,10.80,0.041,70.0,189.0,0.99760,3.08,0.49,8.6,white
3155,4,6.5,0.270,0.19,4.20,0.046,6.0,114.0,0.99550,3.25,0.35,8.6,white
4224,6,6.8,0.220,0.24,4.90,0.092,30.0,123.0,0.99510,3.03,0.46,8.6,white
3046,5,7.3,0.310,0.69,10.20,0.041,58.0,160.0,0.99770,3.06,0.45,8.6,white
3640,7,8.0,0.220,0.42,14.60,0.044,45.0,163.0,1.00030,3.21,0.69,8.6,white
30,5,6.8,0.440,0.20,16.00,0.065,61.0,186.0,0.99884,3.13,0.45,8.6,white
3656,5,6.9,0.270,0.49,23.50,0.057,59.0,235.0,1.00240,2.98,0.47,8.6,white
3355,4,7.3,0.360,0.54,13.30,0.054,63.0,193.0,0.99864,3.06,0.49,8.6,white
5043,5,7.3,0.310,0.69,10.20,0.041,58.0,160.0,0.99770,3.06,0.45,8.6,white
373,5,7.7,0.340,0.58,11.10,0.039,41.0,151.0,0.99780,3.06,0.49,8.6,white
2111,5,6.0,0.210,0.29,13.10,0.042,28.0,125.0,0.99936,3.39,0.45,8.6,white
55,7,8.0,0.220,0.42,14.60,0.044,45.0,163.0,1.00030,3.21,0.69,8.6,white
5066,5,6.1,0.340,0.31,12.00,0.053,46.0,238.0,0.99770,3.16,0.48,8.6,white
5302,6,6.8,0.270,0.28,13.30,0.076,50.0,163.0,0.99790,3.03,0.38,8.6,white
686,5,8.3,0.360,0.57,15.00,0.052,35.0,256.0,1.00010,2.93,0.64,8.6,white
4615,5,7.3,0.240,0.39,17.95,0.057,45.0,149.0,0.99990,3.21,0.36,8.6,white
5353,4,7.2,0.400,0.62,10.80,0.041,70.0,189.0,0.99760,3.08,0.49,8.6,white
4869,5,7.7,0.340,0.58,11.10,0.039,41.0,151.0,0.99780,3.06,0.49,8.6,white

#### quailty가 7 이상인 데이터 추출 (20개)

In [ ]:
over_sev_quality = data[data.quality >= 7]
over_sev_quality.head(20)

,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type
11,7,6.2,0.160,0.33,1.10,0.057,21.0,82.0,0.99100,3.32,0.46,10.9,white
12,7,7.3,0.330,0.40,6.85,0.038,32.0,138.0,0.99200,3.03,0.30,11.9,white
17,7,6.5,0.280,0.25,4.80,0.029,54.0,128.0,0.99074,3.17,0.44,12.2,white
25,8,6.6,0.290,0.31,3.90,0.027,39.0,96.0,0.99035,3.24,0.60,12.6,white
45,7,7.5,0.305,0.38,1.40,0.047,30.0,95.0,0.99158,3.22,0.52,11.5,white
46,7,7.4,0.190,0.30,12.80,0.053,48.5,212.0,0.99860,3.14,0.49,9.1,white
53,7,6.6,0.290,0.29,1.80,0.036,38.0,102.0,0.98819,3.08,0.42,13.7,white
54,8,7.0,0.530,0.43,6.10,0.029,6.0,76.0,0.99118,3.08,0.50,12.5,white
55,7,8.0,0.220,0.42,14.60,0.044,45.0,163.0,1.00030,3.21,0.69,8.6,white
60,7,6.2,0.290,0.32,3.60,0.026,39.0,138.0,0.98920,3.31,0.37,13.1,white
63,7,8.3,0.280,0.48,2.10,0.093,6.0,12.0,0.99408,3.26,0.62,12.4,red
71,8,6.8,0.190,0.32,7.05,0.019,54.0,188.0,0.99350,3.25,0.37,11.1,white
74,7,6.0,0.100,0.24,1.10,0.041,15.0,65.0,0.99270,3.61,0.61,10.3,white
79,7,6.2,0.200,0.26,1.10,0.047,42.0,119.0,0.99158,3.48,0.60,11.0,white
87,7,5.0,0.270,0.32,4.50,0.032,58.0,178.0,0.98956,3.45,0.31,12.6,white
89,7,7.6,0.310,0.24,1.80,0.037,39.0,150.0,0.99130,3.05,0.44,11.8,white
101,7,6.4,0.310,0.38,2.90,0.038,19.0,102.0,0.99120,3.17,0.35,11.0,white
104,7,7.1,0.270,0.27,10.40,0.041,26.0,114.0,0.99335,3.04,0.52,11.5,white
119,7,6.7,0.250,0.33,2.90,0.057,52.0,173.0,0.99340,3.02,0.48,9.5,white
120,7,5.6,0.350,0.40,6.30,0.022,23.0,174.0,0.99220,3.54,0.50,11.6,white

#### 'strength' 컬럼추가 : alcohol을 기준으로 10도가 넘으면 'strong' 아니면 'weak'으로 표시 (상위 30개만 출력)

In [ ]:
data['strength'] = data['alcohol'].apply(lambda x: 'strong' if x > 10 else 'weak')
data.head(30)

,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type,strength
0,5,5.6,0.695,0.06,6.80,0.042,9.0,84.0,0.99432,3.44,0.44,10.20,white,strong
1,5,8.8,0.610,0.14,2.40,0.067,10.0,42.0,0.99690,3.19,0.59,9.50,red,weak
2,5,7.9,0.210,0.39,2.00,0.057,21.0,138.0,0.99176,3.05,0.52,10.90,white,strong
3,6,7.0,0.210,0.31,6.00,0.046,29.0,108.0,0.99390,3.26,0.50,10.80,white,strong
4,6,7.8,0.400,0.26,9.50,0.059,32.0,178.0,0.99550,3.04,0.43,10.90,white,strong
5,6,6.0,0.190,0.37,9.70,0.032,17.0,50.0,0.99320,3.08,0.66,12.00,white,strong
6,5,6.1,0.220,0.49,1.50,0.051,18.0,87.0,0.99280,3.30,0.46,9.60,white,weak
7,6,7.1,0.380,0.42,11.80,0.041,32.0,193.0,0.99624,3.04,0.49,10.00,white,weak
8,5,6.8,0.240,0.31,18.30,0.046,40.0,142.0,1.00000,3.30,0.41,8.70,white,weak
9,5,6.8,0.390,0.35,11.60,0.044,57.0,220.0,0.99775,3.07,0.53,9.30,white,weak
10,6,8.0,0.180,0.37,0.90,0.049,36.0,109.0,0.99007,2.89,0.44,12.70,red,strong
11,7,6.2,0.160,0.33,1.10,0.057,21.0,82.0,0.99100,3.32,0.46,10.90,white,strong
12,7,7.3,0.330,0.40,6.85,0.038,32.0,138.0,0.99200,3.03,0.30,11.90,white,strong
13,5,7.1,0.310,0.17,1.00,0.042,21.0,144.0,0.99304,3.13,0.40,9.60,white,weak
14,5,12.5,0.380,0.60,2.60,0.081,31.0,72.0,0.99960,3.10,0.73,10.50,red,strong
15,5,7.8,0.490,0.49,7.00,0.043,29.0,149.0,0.99520,3.21,0.33,10.00,white,weak
16,5,8.8,0.370,0.48,2.10,0.097,39.0,145.0,0.99750,3.04,1.03,9.30,red,weak
17,7,6.5,0.280,0.25,4.80,0.029,54.0,128.0,0.99074,3.17,0.44,12.20,white,strong
18,6,8.2,0.230,0.40,7.50,0.049,12.0,76.0,0.99660,3.06,0.84,9.70,white,weak
19,6,6.8,0.310,0.25,10.50,0.043,30.0,165.0,0.99720,3.36,0.55,10.55,white,strong
20,5,7.6,0.310,0.26,1.70,0.073,40.0,157.0,0.99380,3.10,0.46,9.80,white,weak
21,5,7.2,0.560,0.26,2.00,0.083,13.0,100.0,0.99586,3.26,0.52,9.90,red,weak
22,6,7.1,0.210,0.33,1.20,0.039,34.0,97.0,0.99112,3.11,0.75,11.20,white,strong
23,6,7.7,0.715,0.01,2.10,0.064,31.0,43.0,0.99371,3.41,0.57,11.80,red,strong
24,5,8.9,0.750,0.14,2.50,0.086,9.0,30.0,0.99824,3.34,0.64,10.50,red,strong
25,8,6.6,0.290,0.31,3.90,0.027,39.0,96.0,0.99035,3.24,0.60,12.60,white,strong
26,5,6.3,0.310,0.34,2.20,0.045,20.0,77.0,0.99270,3.30,0.43,10.20,white,strong
27,5,6.1,0.360,0.58,15.00,0.044,42.0,115.0,0.99780,3.15,0.51,9.00,white,weak
28,6,6.1,0.410,0.00,1.60,0.063,36.0,87.0,0.99140,3.27,0.67,10.80,white,strong
29,4,7.6,0.260,0.36,1.60,0.032,6.0,106.0,0.99300,3.15,0.40,10.40,white,strong

#### merge 실습을 위한 데이터 쪼개기

In [ ]:
df_x = data[['quality', 'fixed acidity', 'citric acid']].head(30)

In [ ]:
df_y = data[['quality', 'volatile acidity', 'chlorides', 'alcohol']].head(30)

In [ ]:
df_y = df_y[df_y.quality >= 7]

In [ ]:
len(df_y)

4

#### df_x와 df_y를 inner join시키기 (quality를 기준으로)

In [ ]:
pd.merge(df_x, df_y, how='inner', on='quality')

   quality  fixed acidity  citric acid  volatile acidity  chlorides  alcohol
0        7            6.2         0.33              0.16      0.057     10.9
1        7            6.2         0.33              0.33      0.038     11.9
2        7            6.2         0.33              0.28      0.029     12.2
3        7            7.3         0.40              0.16      0.057     10.9
4        7            7.3         0.40              0.33      0.038     11.9
5        7            7.3         0.40              0.28      0.029     12.2
6        7            6.5         0.25              0.16      0.057     10.9
7        7            6.5         0.25              0.33      0.038     11.9
8        7            6.5         0.25              0.28      0.029     12.2
9        8            6.6         0.31              0.29      0.027     12.6

#### df_x에서 df_y를 left join시키기 (quality를 기준으로)

In [ ]:
pd.merge(df_x, df_y, how='left', on='quality')

    quality  fixed acidity  citric acid  volatile acidity  chlorides  alcohol
0         5            5.6         0.06               NaN        NaN      NaN
1         5            8.8         0.14               NaN        NaN      NaN
2         5            7.9         0.39               NaN        NaN      NaN
3         6            7.0         0.31               NaN        NaN      NaN
4         6            7.8         0.26               NaN        NaN      NaN
5         6            6.0         0.37               NaN        NaN      NaN
6         5            6.1         0.49               NaN        NaN      NaN
7         6            7.1         0.42               NaN        NaN      NaN
8         5            6.8         0.31               NaN        NaN      NaN
9         5            6.8         0.35               NaN        NaN      NaN
10        6            8.0         0.37               NaN        NaN      NaN
11        7            6.2         0.33              0.16      0.057     10.9
12        7            6.2         0.33              0.33      0.038     11.9
13        7            6.2         0.33              0.28      0.029     12.2
14        7            7.3         0.40              0.16      0.057     10.9
15        7            7.3         0.40              0.33      0.038     11.9
16        7            7.3         0.40              0.28      0.029     12.2
17        5            7.1         0.17               NaN        NaN      NaN
18        5           12.5         0.60               NaN        NaN      NaN
19        5            7.8         0.49               NaN        NaN      NaN
20        5            8.8         0.48               NaN        NaN      NaN
21        7            6.5         0.25              0.16      0.057     10.9
22        7            6.5         0.25              0.33      0.038     11.9
23        7            6.5         0.25              0.28      0.029     12.2
24        6            8.2         0.40               NaN        NaN      NaN
25        6            6.8         0.25               NaN        NaN      NaN
26        5            7.6         0.26               NaN        NaN      NaN
27        5            7.2         0.26               NaN        NaN      NaN
28        6            7.1         0.33               NaN        NaN      NaN
29        6            7.7         0.01               NaN        NaN      NaN
30        5            8.9         0.14               NaN        NaN      NaN
31        8            6.6         0.31              0.29      0.027     12.6
32        5            6.3         0.34               NaN        NaN      NaN
33        5            6.1         0.58               NaN        NaN      NaN
34        6            6.1         0.00               NaN        NaN      NaN
35        4            7.6         0.36               NaN        NaN      NaN

## 과제2
- 데이터 : players.csv (kaggle NFL Big Data Bowl 2023 선수 데이터)
- 세션에 소개되지 않은 기능이 필요하다면, 구글링을 통해 구현해주시길 바랍니다.
- '내 드라이브'에 사본 저장 부탁드립니다.
- 데이터 설명:

|컬럼명|설명|
|--|---|
|nflId|Player identification number, unique across players (numeric)|
|height|Player height (text)|
|weight|Player weight (numeric)|
|birthDate|Date of birth (YYYY-MM-DD)|
|collegeName|Player college (text)|
|officialPosition|Official player position (text)|
|displayName|Player name (text)|

#### 데이터 불러오기 및 앞부분 확인

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
data = pd.read_csv('/content/gdrive/MyDrive/ybigta/Numpy&Pandas/players.csv') # players.csv: '내 드라이브'에 사본 저장 후, 경로 수정
data.head()

,nflId,height,weight,birthDate,collegeName,officialPosition,displayName
0,25511,6-4,225,1977-08-03,Michigan,QB,Tom Brady
1,28963,6-5,240,1982-03-02,"Miami, O.",QB,Ben Roethlisberger
2,29550,6-4,328,1982-01-22,Arkansas,T,Jason Peters
3,29851,6-2,225,1983-12-02,California,QB,Aaron Rodgers
4,30078,6-2,228,1982-11-24,Harvard,QB,Ryan Fitzpatrick

#### NaN, 데이터 타입, 개수 확인

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1679 entries, 0 to 1678
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   nflId             1679 non-null   int64
 1   height            1679 non-null   object
 2   weight            1679 non-null   int64
 3   birthDate         1447 non-null   object
 4   collegeName       1455 non-null   object
 5   officialPosition  1679 non-null   object
 6   displayName       1679 non-null   object
dtypes: int64(2), object(5)
memory usage: 91.9+ KB

In [ ]:
data.isnull().sum()

nflId                 0
height                0
weight                0
birthDate           232
collegeName         224
officialPosition      0
displayName           0
age                   0
heightCm              0
dtype: int64

#### birthDate 컬럼으로 age 컬럼 추가하기

##### 1) birthDate 컬럼의 자료형을 object에서 datetime으로 전환

In [ ]:
data['birthDate'] = pd.to_datetime(data['birthDate'])
data['birthDate'].head()

0   1977-08-03
1   1982-03-02
2   1982-01-22
3   1983-12-02
4   1982-11-24
Name: birthDate, dtype: datetime64[ns]

##### 2) age 컬럼 생성, apply 및 lambda 함수를 써서 나이 계산

In [ ]:
today = pd.to_datetime('today')
data['age'] = data['birthDate'].apply(lambda x: int(today.year - x.year - ((today.month, today.day) < (x.month, x.day))) if pd.notnull(x) else x)

In [ ]:
data['age'][:10]

0    45
1    40
2    40
3    39
4    40
5    38
6    41
7    37
8    37
9    36
Name: age, dtype: object

##### 3) age 결측치를 선수 평균 나이로 대체

In [ ]:
data['age'] = data['age'].fillna(data['age'].mean())

In [ ]:
data['age'].head()

0    45.0
1    40.0
2    40.0
3    39.0
4    40.0
Name: age, dtype: float64

#### height 컬럼(feet-inch 형식)으로 heightCm 컬럼 추가하기

##### 1) heightCm 컬럼 생성, apply 및 lambda 함수를 사용해서 height 컬럼의 feet과 inch를 cm로 변환 ('-'를 기준으로 split해서 각각을 cm로 변환해 더하기)

In [ ]:
feet = 30.48
inch = 2.54
data['heightCm'] = data['height'].apply(lambda x: int(x.split('-')[0]) * feet + int(x.split('-')[0]) * inch)

In [ ]:
data['heightCm']

0       198.12
1       198.12
2       198.12
3       198.12
4       198.12
5       198.12
6       198.12
7       198.12
8       198.12
9       165.10
10      198.12
11      198.12
12      198.12
13      165.10
14      198.12
15      198.12
16      198.12
17      198.12
18      198.12
19      165.10
20      198.12
21      198.12
22      198.12
23      198.12
24      198.12
25      165.10
26      198.12
27      198.12
28      198.12
29      165.10
30      198.12
31      165.10
32      198.12
33      198.12
34      198.12
35      198.12
36      198.12
37      165.10
38      198.12
39      165.10
40      198.12
41      198.12
42      198.12
43      165.10
44      198.12
45      198.12
46      198.12
47      198.12
48      198.12
49      198.12
50      198.12
51      198.12
52      198.12
53      198.12
54      198.12
55      198.12
56      198.12
57      198.12
58      165.10
59      198.12
60      198.12
61      198.12
62      198.12
63      198.12
64      165.10
65      198.12
66      198.12
67      198.12
68      198.12
69      198.12
70      198.12
71      198.12
72      198.12
73      198.12
74      198.12
75      198.12
76      198.12
77      165.10
78      198.12
79      198.12
80      198.12
81      198.12
82      198.12
83      198.12
84      198.12
85      198.12
86      198.12
87      198.12
88      198.12
89      198.12
90      198.12
91      198.12
92      198.12
93      198.12
94      165.10
95      198.12
96      198.12
97      198.12
98      165.10
99      165.10
100     198.12
101     198.12
102     198.12
103     198.12
104     165.10
105     198.12
106     165.10
107     198.12
108     198.12
109     198.12
110     198.12
111     198.12
112     198.12
113     198.12
114     198.12
115     198.12
116     165.10
117     198.12
118     198.12
119     165.10
120     198.12
121     198.12
122     198.12
123     165.10
124     198.12
125     198.12
126     198.12
127     198.12
128     165.10
129     198.12
130     198.12
131     165.10
132     198.12
133     198.12
134     198.12
135     198.12
136     198.12
137     198.12
138     198.12
139     198.12
140     198.12
141     198.12
142     165.10
143     198.12
144     198.12
145     198.12
146     198.12
147     198.12
148     198.12
149     198.12
150     198.12
151     165.10
152     198.12
153     165.10
154     198.12
155     198.12
156     198.12
157     198.12
158     165.10
159     198.12
160     165.10
161     198.12
162     198.12
163     198.12
164     198.12
165     198.12
166     198.12
167     198.12
168     198.12
169     198.12
170     198.12
171     198.12
172     198.12
173     198.12
174     198.12
175     165.10
176     198.12
177     198.12
178     198.12
179     198.12
180     198.12
181     198.12
182     198.12
183     198.12
184     198.12
185     198.12
186     198.12
187     198.12
188     198.12
189     198.12
190     198.12
191     198.12
192     198.12
193     198.12
194     198.12
195     198.12
196     198.12
197     198.12
198     198.12
199     198.12
200     198.12
201     198.12
202     165.10
203     198.12
204     165.10
205     198.12
206     198.12
207     165.10
208     198.12
209     165.10
210     165.10
211     165.10
212     198.12
213     198.12
214     198.12
215     198.12
216     198.12
217     198.12
218     165.10
219     198.12
220     198.12
221     198.12
222     198.12
223     198.12
224     165.10
225     198.12
226     198.12
227     198.12
228     198.12
229     165.10
230     198.12
231     165.10
232     198.12
233     198.12
234     198.12
235     165.10
236     198.12
237     165.10
238     165.10
239     198.12
240     198.12
241     198.12
242     198.12
243     198.12
244     198.12
245     198.12
246     165.10
247     198.12
248     165.10
249     198.12
250     165.10
251     198.12
252     198.12
253     198.12
254     198.12
255     198.12
256     198.12
257     198.12
258     198.12
259     165.10
260     165.10
261     198.12
262     165.10
263     198.12
264     198.12
265     198.12
266     198.12
267     198.12
268     198.12
269     198.12
270     198.12
271     198.12
272     165.10
273     198.12
274     198.12
275     198.12
276     198.12
277     198.12
278     198.12
279     198.12
280     198.12
281     165.10
282     198.12
283     198.12
284     165.10
285     165.10
286     198.12
287     198.12
288     198.12
289     198.12
290     198.12
291     198.12
292     198.12
293     198.12
294     198.12
295     198.12
296     198.12
297     198.12
298     198.12
299     198.12
300     198.12
301     198.12
302     198.12
303     198.12
304     198.12
305     198.12
306     198.12
307     198.12
308     198.12
309     165.10
310     198.12
311     198.12
312     198.12
313     198.12
314     198.12
315     198.12
316     198.12
317     198.12
318     198.12
319     198.12
320     198.12
321     165.10
322     198.12
323     165.10
324     198.12
325     165.10
326     198.12
327     198.12
328     198.12
329     198.12
330     198.12
331     198.12
332     198.12
333     198.12
334     165.10
335     198.12
336     198.12
337     198.12
338     198.12
339     198.12
340     198.12
341     198.12
342     198.12
343     198.12
344     198.12
345     198.12
346     165.10
347     198.12
348     198.12
349     198.12
350     165.10
351     198.12
352     198.12
353     198.12
354     165.10
355     198.12
356     198.12
357     198.12
358     198.12
359     198.12
360     198.12
361     198.12
362     198.12
363     165.10
364     198.12
365     198.12
366     198.12
367     198.12
368     198.12
369     198.12
370     198.12
371     198.12
372     165.10
373     198.12
374     198.12
375     198.12
376     198.12
377     198.12
378     198.12
379     198.12
380     198.12
381     198.12
382     198.12
383     198.12
384     198.12
385     165.10
386     198.12
387     198.12
388     198.12
389     165.10
390     198.12
391     165.10
392     198.12
393     198.12
394     165.10
395     198.12
396     198.12
397     165.10
398     198.12
399     198.12
400     198.12
401     165.10
402     198.12
403     198.12
404     198.12
405     165.10
406     198.12
407     198.12
408     165.10
409     198.12
410     198.12
411     198.12
412     198.12
413     198.12
414     198.12
415     198.12
416     198.12
417     198.12
418     198.12
419     198.12
420     198.12
421     198.12
422     198.12
423     198.12
424     165.10
425     198.12
426     198.12
427     165.10
428     198.12
429     198.12
430     198.12
431     198.12
432     198.12
433     198.12
434     198.12
435     198.12
436     198.12
437     198.12
438     198.12
439     198.12
440     198.12
441     198.12
442     198.12
443     198.12
444     165.10
445     198.12
446     198.12
447     198.12
448     198.12
449     198.12
450     198.12
451     198.12
452     198.12
453     165.10
454     198.12
455     198.12
456     198.12
457     198.12
458     165.10
459     198.12
460     198.12
461     165.10
462     198.12
463     198.12
464     198.12
465     198.12
466     198.12
467     198.12
468     198.12
469     198.12
470     198.12
471     198.12
472     165.10
473     198.12
474     198.12
475     198.12
476     198.12
477     198.12
478     198.12
479     198.12
480     198.12
481     165.10
482     165.10
483     198.12
484     165.10
485     198.12
486     198.12
487     198.12
488     198.12
489     198.12
490     198.12
491     198.12
492     198.12
493     198.12
494     198.12
495     198.12
496     198.12
497     198.12
498     165.10
499     198.12
500     198.12
501     198.12
502     198.12
503     198.12
504     198.12
505     198.12
506     198.12
507     198.12
508     198.12
509     165.10
510     198.12
511     165.10
512     165.10
513     198.12
514     198.12
515     198.12
516     165.10
517     165.10
518     198.12
519     198.12
520     198.12
521     198.12
522     198.12
523     198.12
524     198.12
525     198.12
526     198.12
527     198.12
528     198.12
529     198.12
530     198.12
531     198.12
532     198.12
533     198.12
534     165.10
535     198.12
536     165.10
537     198.12
538     198.12
539     165.10
540     198.12
541     198.12
542     198.12
543     198.12
544     198.12
545     198.12
546     165.10
547     198.12
548     165.10
549     198.12
550     165.10
551     165.10
552     198.12
553     198.12
554     198.12
555     198.12
556     198.12
557     198.12
558     198.12
559     198.12
560     165.10
561     198.12
562     198.12
563     165.10
564     198.12
565     198.12
566     198.12
567     165.10
568     165.10
569     198.12
570     198.12
571     198.12
572     198.12
573     198.12
574     165.10
575     198.12
576     198.12
577     198.12
578     198.12
579     198.12
580     198.12
581     198.12
582     198.12
583     165.10
584     165.10
585     198.12
586     198.12
587     198.12
588     198.12
589     198.12
590     198.12
591     198.12
592     165.10
593     198.12
594     198.12
595     198.12
596     198.12
597     198.12
598     165.10
599     198.12
600     165.10
601     198.12
602     198.12
603     198.12
604     198.12
605     198.12
606     198.12
607     198.12
608     165.10
609     198.12
610     198.12
611     165.10
612     165.10
613     198.12
614     198.12
615     198.12
616     198.12
617     198.12
618     198.12
619     198.12
620     198.12
621     198.12
622     198.12
623     198.12
624     198.12
625     198.12
626     198.12
627     198.12
628     198.12
629     198.12
630     198.12
631     165.10
632     198.12
633     198.12
634     198.12
635     198.12
636     198.12
637     198.12
638     198.12
639     198.12
640     198.12
641     198.12
642     165.10
643     198.12
644     198.12
645     165.10
646     198.12
647     165.10
648     198.12
649     198.12
650     198.12
651     198.12
652     198.12
653     198.12
654     198.12
655     198.12
656     198.12
657     165.10
658     198.12
659     198.12
660     198.12
661     198.12
662     198.12
663     198.12
664     198.12
665     198.12
666     198.12
667     198.12
668     198.12
669     198.12
670     198.12
671     198.12
672     165.10
673     165.10
674     198.12
675     198.12
676     198.12
677     198.12
678     198.12
679     198.12
680     165.10
681     198.12
682     165.10
683     198.12
684     165.10
685     198.12
686     198.12
687     165.10
688     198.12
689     165.10
690     198.12
691     198.12
692     198.12
693     198.12
694     198.12
695     198.12
696     198.12
697     165.10
698     198.12
699     198.12
700     198.12
701     198.12
702     198.12
703     198.12
704     198.12
705     198.12
706     198.12
707     198.12
708     165.10
709     198.12
710     198.12
711     198.12
712     198.12
713     198.12
714     165.10
715     198.12
716     165.10
717     198.12
718     198.12
719     198.12
720     198.12
721     198.12
722     198.12
723     198.12
724     198.12
725     198.12
726     198.12
727     198.12
728     198.12
729     165.10
730     165.10
731     198.12
732     198.12
733     198.12
734     198.12
735     198.12
736     198.12
737     198.12
738     165.10
739     198.12
740     198.12
741     198.12
742     198.12
743     198.12
744     198.12
745     198.12
746     198.12
747     165.10
748     198.12
749     165.10
750     165.10
751     198.12
752     198.12
753     165.10
754     198.12
755     198.12
756     165.10
757     198.12
758     165.10
759     198.12
760     198.12
761     198.12
762     198.12
763     198.12
764     198.12
765     198.12
766     198.12
767     198.12
768     198.12
769     198.12
770     198.12
771     198.12
772     165.10
773     198.12
774     198.12
775     198.12
776     198.12
777     198.12
778     165.10
779     198.12
780     198.12
781     165.10
782     198.12
783     198.12
784     165.10
785     165.10
786     198.12
787     198.12
788     198.12
789     165.10
790     198.12
791     198.12
792     165.10
793     198.12
794     198.12
795     198.12
796     198.12
797     198.12
798     165.10
799     198.12
800     198.12
801     198.12
802     165.10
803     198.12
804     165.10
805     198.12
806     165.10
807     198.12
808     165.10
809     198.12
810     198.12
811     198.12
812     198.12
813     198.12
814     198.12
815     198.12
816     198.12
817     198.12
818     198.12
819     198.12
820     198.12
821     198.12
822     198.12
823     198.12
824     198.12
825     198.12
826     198.12
827     198.12
828     198.12
829     198.12
830     198.12
831     198.12
832     198.12
833     198.12
834     198.12
835     198.12
836     198.12
837     198.12
838     198.12
839     198.12
840     198.12
841     198.12
842     198.12
843     198.12
844     165.10
845     165.10
846     198.12
847     198.12
848     198.12
849     198.12
850     198.12
851     165.10
852     165.10
853     198.12
854     198.12
855     165.10
856     198.12
857     198.12
858     165.10
859     165.10
860     198.12
861     198.12
862     198.12
863     198.12
864     165.10
865     198.12
866     198.12
867     198.12
868     198.12
869     165.10
870     198.12
871     198.12
872     198.12
873     198.12
874     198.12
875     198.12
876     198.12
877     198.12
878     198.12
879     198.12
880     198.12
881     198.12
882     198.12
883     198.12
884     165.10
885     198.12
886     198.12
887     198.12
888     198.12
889     198.12
890     198.12
891     165.10
892     198.12
893     198.12
894     198.12
895     198.12
896     198.12
897     198.12
898     165.10
899     165.10
900     198.12
901     198.12
902     198.12
903     165.10
904     198.12
905     198.12
906     198.12
907     198.12
908     198.12
909     165.10
910     198.12
911     198.12
912     198.12
913     198.12
914     198.12
915     165.10
916     198.12
917     198.12
918     165.10
919     198.12
920     165.10
921     198.12
922     198.12
923     198.12
924     198.12
925     198.12
926     198.12
927     198.12
928     198.12
929     198.12
930     165.10
931     198.12
932     165.10
933     165.10
934     198.12
935     198.12
936     198.12
937     165.10
938     198.12
939     198.12
940     198.12
941     198.12
942     198.12
943     198.12
944     198.12
945     165.10
946     198.12
947     165.10
948     198.12
949     198.12
950     165.10
951     198.12
952     198.12
953     165.10
954     198.12
955     198.12
956     198.12
957     165.10
958     198.12
959     198.12
960     198.12
961     198.12
962     198.12
963     198.12
964     198.12
965     165.10
966     198.12
967     198.12
968     198.12
969     198.12
970     198.12
971     198.12
972     198.12
973     198.12
974     165.10
975     198.12
976     198.12
977     198.12
978     165.10
979     198.12
980     198.12
981     198.12
982     198.12
983     198.12
984     198.12
985     165.10
986     198.12
987     165.10
988     198.12
989     198.12
990     198.12
991     198.12
992     198.12
993     198.12
994     198.12
995     198.12
996     165.10
997     198.12
998     198.12
999     198.12
1000    198.12
1001    198.12
1002    198.12
1003    198.12
1004    198.12
1005    198.12
1006    165.10
1007    198.12
1008    198.12
1009    165.10
1010    165.10
1011    198.12
1012    198.12
1013    198.12
1014    198.12
1015    165.10
1016    198.12
1017    198.12
1018    165.10
1019    198.12
1020    198.12
1021    165.10
1022    198.12
1023    198.12
1024    198.12
1025    198.12
1026    198.12
1027    198.12
1028    198.12
1029    198.12
1030    198.12
1031    198.12
1032    198.12
1033    198.12
1034    198.12
1035    198.12
1036    165.10
1037    198.12
1038    198.12
1039    165.10
1040    198.12
1041    198.12
1042    198.12
1043    198.12
1044    198.12
1045    198.12
1046    198.12
1047    165.10
1048    198.12
1049    165.10
1050    198.12
1051    198.12
1052    165.10
1053    165.10
1054    198.12
1055    198.12
1056    198.12
1057    165.10
1058    198.12
1059    198.12
1060    198.12
1061    198.12
1062    198.12
1063    198.12
1064    165.10
1065    198.12
1066    198.12
1067    198.12
1068    198.12
1069    198.12
1070    198.12
1071    198.12
1072    198.12
1073    198.12
1074    198.12
1075    165.10
1076    165.10
1077    198.12
1078    165.10
1079    165.10
1080    198.12
1081    198.12
1082    165.10
1083    165.10
1084    165.10
1085    198.12
1086    198.12
1087    198.12
1088    165.10
1089    198.12
1090    198.12
1091    198.12
1092    198.12
1093    165.10
1094    198.12
1095    198.12
1096    198.12
1097    198.12
1098    198.12
1099    198.12
1100    198.12
1101    165.10
1102    198.12
1103    198.12
1104    198.12
1105    198.12
1106    198.12
1107    198.12
1108    198.12
1109    198.12
1110    198.12
1111    198.12
1112    198.12
1113    198.12
1114    165.10
1115    165.10
1116    165.10
1117    198.12
1118    165.10
1119    198.12
1120    198.12
1121    198.12
1122    198.12
1123    165.10
1124    165.10
1125    198.12
1126    165.10
1127    165.10
1128    165.10
1129    198.12
1130    198.12
1131    165.10
1132    198.12
1133    198.12
1134    198.12
1135    165.10
1136    165.10
1137    198.12
1138    198.12
1139    198.12
1140    198.12
1141    198.12
1142    198.12
1143    198.12
1144    198.12
1145    198.12
1146    198.12
1147    198.12
1148    165.10
1149    198.12
1150    198.12
1151    198.12
1152    198.12
1153    198.12
1154    198.12
1155    198.12
1156    198.12
1157    198.12
1158    198.12
1159    198.12
1160    198.12
1161    165.10
1162    198.12
1163    198.12
1164    198.12
1165    198.12
1166    165.10
1167    165.10
1168    165.10
1169    165.10
1170    198.12
1171    198.12
1172    198.12
1173    198.12
1174    198.12
1175    198.12
1176    198.12
1177    198.12
1178    198.12
1179    198.12
1180    198.12
1181    165.10
1182    198.12
1183    198.12
1184    198.12
1185    198.12
1186    198.12
1187    198.12
1188    198.12
1189    198.12
1190    198.12
1191    198.12
1192    198.12
1193    198.12
1194    198.12
1195    198.12
1196    198.12
1197    198.12
1198    198.12
1199    198.12
1200    198.12
1201    198.12
1202    198.12
1203    198.12
1204    198.12
1205    165.10
1206    165.10
1207    198.12
1208    198.12
1209    198.12
1210    198.12
1211    198.12
1212    198.12
1213    198.12
1214    165.10
1215    165.10
1216    198.12
1217    198.12
1218    198.12
1219    198.12
1220    198.12
1221    198.12
1222    198.12
1223    198.12
1224    198.12
1225    198.12
1226    198.12
1227    198.12
1228    198.12
1229    198.12
1230    198.12
1231    198.12
1232    198.12
1233    198.12
1234    198.12
1235    198.12
1236    198.12
1237    198.12
1238    165.10
1239    198.12
1240    198.12
1241    198.12
1242    198.12
1243    198.12
1244    198.12
1245    198.12
1246    165.10
1247    165.10
1248    198.12
1249    198.12
1250    165.10
1251    198.12
1252    198.12
1253    198.12
1254    198.12
1255    198.12
1256    165.10
1257    198.12
1258    198.12
1259    198.12
1260    165.10
1261    165.10
1262    198.12
1263    198.12
1264    198.12
1265    198.12
1266    198.12
1267    198.12
1268    198.12
1269    198.12
1270    198.12
1271    198.12
1272    198.12
1273    198.12
1274    198.12
1275    198.12
1276    198.12
1277    198.12
1278    198.12
1279    198.12
1280    198.12
1281    198.12
1282    198.12
1283    198.12
1284    198.12
1285    198.12
1286    198.12
1287    198.12
1288    198.12
1289    165.10
1290    198.12
1291    198.12
1292    198.12
1293    198.12
1294    198.12
1295    198.12
1296    165.10
1297    198.12
1298    198.12
1299    198.12
1300    165.10
1301    165.10
1302    198.12
1303    198.12
1304    198.12
1305    198.12
1306    198.12
1307    198.12
1308    198.12
1309    198.12
1310    198.12
1311    198.12
1312    198.12
1313    198.12
1314    198.12
1315    165.10
1316    198.12
1317    165.10
1318    198.12
1319    198.12
1320    198.12
1321    198.12
1322    198.12
1323    198.12
1324    165.10
1325    198.12
1326    165.10
1327    198.12
1328    165.10
1329    198.12
1330    198.12
1331    198.12
1332    198.12